h1 About US
li = link_to 'Home', root_path
li = link_to 'About', about_page_about_path
p Hello people this website contains the data of movies where we provide trailers for various movies. This website also contains the data of upcoming movies with their release date. Here users can enter their comments in our review page . 
p Visit our Trailers section for the latest video, our Reviews section for the critics' take, our exclusive News + Features for blogs, articles, news and more. See photos from the latest Hollywood events, and find out everything you wanted to know about your favorite stars. Access your favorite theaters quickly to buy movie tickets online (hey, Fandango, America's number one ticket seller, is our sister site, so you know it'll be easy breezy). Along with our new look and feel we are continually expanding and getting better, so make sure to keep checking back for what's new (and let us know what you'd like to see).
p So there you have it. With all that to do, stop reading this and go check out the site. As Alfred Hitchcock once said, "The cinema is not a slice of life, but a piece of cake."
footer Copyright 2017 - @MovieTime
