<form>
	<fieldset>
		<p>
    		<label for="email">Email</label>
    		<input type ="text" name="email" id ="email" >
    	</p>
		
		<p>
    		<label for="password">Password</label>
    		<input type ="text" name="password" id ="password" >
    	</p>
	</fieldset>
	<fieldset>
    		<button type="submit" name="submit">Login</button>
			<button type="reset" name="submit">Reset</button>
    </fieldset>
</form>