// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-color: orange
}
img{
    height: 100px;
    width: 100px;
}
h1{
    padding-left: 600px;
}
#headimage{
    padding-top: 0px;
}